* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* HEADINGS */
h1 {
    color: darkblue;
    border-bottom: 1px solid #000;
    padding: 10px;
}

/* MAIN CONTENT */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* PROFILE IMAGE ONLY */
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* PARAGRAPHS */
p {
    padding: 0;
}

/* ASIDE SECTION */
aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eeeeee;
    color: #333333;
    text-align: center;
}

/* COUNTRY IMAGE */
aside img {
    width: 200px;
    height: auto;
}

/* FOOTER */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
    }
